
.about {
  text-align: center;
  background:
}
.services{
  text-align: center;
}
.h1{
  text-align: center;
  background: url("cover1.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}
.what{
  text-align: center;
}
.port{
  text-align: center;
}
.contact{
  text-align: center;
}
